.DS_Store

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# xmake
.xmake/
.build_cache/
.deps/
.objs/
macosx/
**/build/windows/

# loopy/Makefile
loopy/Makefile

# /Makefile
/Makefile

# Executable file
loopy/loopy

# Visual Studio
.vs/
*.dir/
Debug/
Release/
MinSizeRel/
RelWithDebInfo/
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
